<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>

    {{>navbar}}
    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left Side Div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/404.png" alt="about" class="img-fluid" title="error ">
                        </figure>

                        <p>Welcome To Adarsh Weather App</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->

    {{>footer}}

    <!-- jQuery library -->
    {{>script}}
</body>

</html>
