<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>

    {{>navbar}}
    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left Side Div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/rebel.jpeg" alt="about" class="img-fluid w-50" title="weather ">
                        </figure>
                    </div>



                    <!-- Right Side Div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome To Weather App</p>
                        <h1>I'm a <span class="txt_clr">Web Developer</span>, App Developer and Freelancer</h1>
                        <a href="https://github.com/" target="_blank"><button>About Me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->

    {{>footer}}

    <!-- jQuery library -->
    {{>script}}
</body>

</html>